.sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
}
.sidebar-form, .sidebar-menu>li.header {
    overflow: hidden;
    text-overflow: clip;
}

#userImage {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}

ul.dropdown-menu > li.user-header {
    height: auto!important;
}

a.dropdown-toggle {
    background-color: #62a12b !important;
}

a#logout {
    color: #2f7d28 !important;
    background: transparent;
}

@media (max-width: 768px) {
    body .control-sidebar {
        padding-top:100px;
    }
}

body fieldset.ui-fieldset legend.ui-fieldset-legend {
    background: #5da32d !important;
    border-color: #5da32d !important;
    color: white !important;
    width: auto !important;
    text-shadow: none !important;
}

.ui-tabs .ui-tabs-panel {
    border-width: 0;
    padding: 0.1em 0em !important;
    background: #fff;
}

.ui-accordion .ui-accordion-content{
    padding: 0px !important;
}

.btnDash {
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background-color:#63b8ee;
    border-radius:1px;
    border:1px solid #3866a3;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:3px 18px;
    text-decoration:none;
    text-shadow:0px 1px 0px #7cacde;
}

.btnDash:hover {
    background-color:#468ccf;
}

.btnDash:active {
    position:relative;
    top:1px;
    color: white !important;
    font-weight:bold !important;
}

.info-box-text {
    font-size: 18px !important; 
    text-transform: initial !important; 
    padding: 5px 10px !important;
}

.info-box-icon {
    width: 3% !important;
}

.info-box-number {
    padding: 15px 10px 5px 10px;
    font-size: 25px !important;
}

.info-box-content {
    margin-left: 5px !important;
}

.lbl-danger{
    padding: 5px !important;
    background: #eb3636 !important;
    color: white !important;
    border-radius: 5px !important;
}
.lbl-success{
    padding: 5px !important;
    background: #0d7cee !important ;
    color: white !important;
    border-radius: 5px !important;
}

body fieldset.ui-fieldset legend.ui-fieldset-legend{
    font-size: 12px  !important;
    padding: 5px  !important;
}

.tblDias table th td {
    width: 100%; 
    border: 1px solid black; 
    border-collapse: collapse;
}

/* {
  border: 1px solid grey;
  border-collapse: collapse;
}*/

.tblDias th td {
  padding: 15px;
  text-align: left;
}

.skin-blue .main-header li.user-header {
    background-color: #2f7d28 !important;
}

.skin-blue a.dropdown-toggle {
    background-color: #62a12b !important;
}

